.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @mixin hover {
    background-color: rgba(116, 180, 155, 1);
    color: var(--mantine-color-white);

    .linkIcon {
      color: var(--mantine-color-white);
    }
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: rgba(116, 180, 155, 1);

      .linkIcon {
        color: rgba(116, 180, 155, 1);
      }
    }
  }
}

.signOut {
  border-top: rgb(255, 255, 255) solid 1px;
  padding-top: 10px;
}

.linkIcon {
  color: var(--mantine-color-white);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}

.sign-in__logo {
  text-align: center;

  & .sign-in__logo__title {
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 2px;
    font-size: 1.5rem;
  }
}

.sticky{
  position: sticky;
  top: 0;
}

.z_index{
  z-index: 2;
}